<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<!-- 页面meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>管理员信息详情页面</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
	<link rel="stylesheet" href="/manager/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/manager/plugins/adminLTE/css/AdminLTE.css">
	<link rel="stylesheet" href="/manager/plugins/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="/manager/css/style.css">
	<script src="/manager/plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="/manager/plugins/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/manager/plugins/select2/select2.css" />
	<link rel="stylesheet" href="/manager/plugins/select2/select2-bootstrap.css" />
	<script src="/manager/plugins/select2/select2.min.js" type="text/javascript"></script>

</head>

<body class="hold-transition skin-red sidebar-mini" >
<!-- .box-body -->

<div class="box-header with-border">
	<h3 class="box-title">管理员信息详情页面</h3>
</div>

<div class="box-body">

	<!-- 数据表格 -->
	<div class="table-box">

		<!--工具栏-->
		<div class="pull-left">
			<div class="form-group form-inline">
				<div >
					<button type="button" class="btn-group btn btn-success" title="新建" onclick="goCreateAdmin()"><i class="fa fa-file-o"></i> 新建</button>
					<!--	<button type="button" class="btn btn-default" title="删除" onclick="delAdmin()"><i class="fa fa-trash-o"></i> 删除</button>-->
					<button type="button" class="btn-group btn btn-info" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
				</div>
			</div>
		</div>

		<!--数据列表-->
		<table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			<thead>
			<tr>

				<th class="sorting_asc">管理员id</th>
				<th class="sorting">管理员账号</th>
				<th class="sorting">管理员级别</th>
				<th class="sorting">管理员类型</th>
				<th class="text-center">操作</th>
			</tr>
			</thead>
			<tbody id="theBody">
			<tr th:each="list: ${adminList}">
				<td th:text="${list.id}"></td>
				<td>
					<span th:text="${list.account}" ></span>
				</td>
				<td th:text="${list.level}"></td>
				<td th:text="${list.adminType.typeName}"></td>
				<!--<td th:text="${list.typeId}"></td>-->
				<td class="text-center">
					<button type="button" class="btn btn-xs btn-warning"  th:onclick="selAdminById([[${list.id}]])">修改</button>
					&nbsp;<button type="button" class="btn btn-xs btn-danger"  th:onclick="delAdmin([[${list.id}]])">删除</button>
				</td>
			</tr>
			</tbody>
		</table>


	</div>
	<!-- 数据表格 /-->




</div>
<!-- /.box-body -->




<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">修改管理员信息</h3>
			</div>
			<div class="modal-body">
				<input type="hidden" id="ids">
				<table class="table table-bordered table-striped"  width="800px">
					<tr>
						<td>管理员账号</td>
						<td >
							<input type="text" class="form-control" id="account" readonly/>
						</td>
					</tr>
					<tr>
						<td>管理员级别</td>
						<td >
							<input type="hidden" id="leavel1" th:value="${admin1.level}" />
							<input type="number" class="form-control" id="level"  required th:onchange="leavelChange()" />
						</td>
					</tr>
					<tr>
						<td>管理员类型</td>
						<td >
							<select id="typeId" name="typeId"  class="form-control">
								<option th:each="mt :${adminTypes}" th:value="${mt.id}" th:text="${mt.typeName}" />
							</select>
						</td>
					</tr>

				</table>

			</div>
			<div class="modal-footer">
				<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" th:onclick="saveAdmin()">保存</button>
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</div>
	</div>
</div>

</body>


<script type="text/javascript" >
	function goCreateAdmin() {
		location.href="/manager/adminController/goCreateAdmin";
	}

	function selAdminById(id) {
		/*$.getJSON("/manager/adminController/selAdmin",{"id":id},function (data) {
			$("#account,#level,#typeId,#ids").val("")
			$("#account").val(data.account);
			$("#level").val(data.level);
			$("#typeId").val(data.typeId);
			$("#ids").val(data.id);

		})*/
		location.href="/manager/adminController/goUpdAdmin?id="+id
	}

	function saveAdmin() {
		var account = $("#account").val();
		var level = $("#level").val();
		var typeId = $("#typeId").val();
		var id = $("#ids").val();
		var flag = true;
		if(level == null || level == undefined || level ==''){
			alert("级别不能为空")
			flag = false;
		}
		if(flag){
			$.getJSON("/manager/adminController/updAdmin",{"id":id,"account":account,"level":level,"typeId":typeId},function (data) {
				if(data == true){
					alert("修改成功！")
					window.location.reload();
				}else{
					alert("修改失败！")
				}
			})
		}

	}

	//删除
	function delAdmin(id) {
		$.getJSON("/manager/adminController/delAdminById", {"id": id}, function (data) {
			if(data == true){
				alert("删除成功！")
				window.location.reload();
			}else {
				alert("删除失败！")
			}
		});


	}
	function leavelChange() {
		var leavel1 = $("#leavel1").val();
		var level = $("#level").val();
		if(level <leavel1 || level > 6){
			alert("请输入小于6大于或等于自身等级（"+leavel1+"）的数字")
			$("#level").val("");
		}
	}

</script>
</html>