<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- 页面meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>新增管理员信息</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
	<link rel="stylesheet" href="/manager/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/manager/plugins/adminLTE/css/AdminLTE.css">
	<link rel="stylesheet" href="/manager/plugins/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="/manager/css/style.css">
	<script src="/manager/plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="/manager/plugins/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini">
<div style="margin:0 auto; width: 60%;">
	<!-- .box-body -->
	<form action="/manager/adminController/saveAdmin">

		<div class="box-header with-border">
			<h3 class="box-title">新增管理员信息</h3>
		</div>

		<div class="box-body">

			<!-- 数据表格 -->
			<div class="table-box">
				<table id="dataList"  class="table table-bordered table-striped table-hover dataTable">
					<tr>
						管理员账号：<input type="text" name="account" class="form-control" id="account"/><br/>
					</tr>

					<tr>
						管理员密码：<input type="text" name="password" class="form-control" id="password"/><br/>
					</tr>
					<tr>

						<input type="hidden" id="leavel1" th:value="${admins.level}" />
						管理员级别：<input type="number" name="level" class="form-control" id="level" th:value="${admins.level}"  required th:onchange="leavelChange()"/><br/>

					</tr>
					<tr>
						管理员类型：
						<select id="typeId" name="typeId"  class="form-control" >
							<option th:each="mt :${adminTypes}" th:value="${mt.id}" th:text="${mt.typeName}" />
						</select>
					</tr>


				</table>
				<!--数据列表/-->
			</div>
			<!-- 数据表格 /-->
			<input type="button" value="提交" id="btn" class="btn-info">
			<input type="button" value="级别规则"  class="btn-info" id="rules">
		</div>
	</form>
</div>
</body>

<script type="text/javascript">
	$("#btn").click(function () {
		var account = $("#account").val();
		var password = $("#password").val();
		var level = $("#level").val();
		var typeId = $("#typeId").val();
		var flag = true;
		if(account == null || password == null || level == null || typeId == null ||
				account == '' || password == '' || level == '' || typeId == '' ||
				account == undefined || password == undefined || level == undefined || typeId == undefined
		){
			alert("所有信息不能为null")
			flag = false;
		}
		if(flag == true){
			$.getJSON("/manager/adminController/saveAdmin",{"account":account,"password":password,"level":level,"typeId":typeId},function (data) {
				if(data == true){
					alert("新增成功！")
					location.href="/manager/adminController/goAdminList";
				}else{
					alert("新增失败！")
				}
			})
		}



	})

	function leavelChange() {
		var leavel1 = $("#leavel1").val();
		var level = $("#level").val();
		if(level <leavel1 || level > 6){
			alert("请输入小于6大于或等于自身等级（"+leavel1+"）的数字")
			$("#level").val("");
		}
	}
	$("#rules").click(function () {
		alert("\t\t\t新增管理员规则：\n" +
				"1.level值越高，权限越少，等级1位最大权限，6为最小权限\n" +
				"2.当前等级创建管理员信息，只能创建与自己同级或者权限低于自己的等级\n" +
				"3.当不填写等级值时，将默认与自己同级\n")
	})
</script>
</html>