<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- 页面meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>新增管理员信息</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
	<link rel="stylesheet" href="/manager/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/manager/plugins/adminLTE/css/AdminLTE.css">
	<link rel="stylesheet" href="/manager/plugins/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="/manager/css/style.css">
	<script src="/manager/plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="/manager/plugins/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini">
<div style="margin:0 auto; width: 60%;">
	<!-- .box-body -->
	<form action="/manager/adminController/saveAdmin">

		<div class="box-header with-border">
			<h3 class="box-title">修改管理员信息</h3>
		</div>

		<div class="box-body">

			<!-- 数据表格 -->
			<div class="table-box">
				<table id="dataList"  class="table table-bordered table-striped table-hover dataTable">
					<input type="hidden" id="id" th:value="${admins.id}">
					<tr>
						* 管理员账号：<input type="text" name="account" class="form-control" id="account" th:value="${admins.account}"/><br/>
					</tr>
					<tr>
						* 管理员类型：
						<input type="hidden" id="typeId3" th:value="${admins.typeId}"/>
						<select id="typeId" name="typeId"  class="form-control"  th:onchange="funType()" >
							<option th:each="mt :${adminTypes}" th:value="${mt.id}" th:text="${mt.typeName}" />
						</select><br/>
					</tr>
					<tr>
						微信openId：<input type="text" name="accountOpenId" class="form-control" id="accountOpenId" th:value="${admins.accountOpenId}"/><br/>
					</tr>
					<tr>
						权限：<br>
						<!--	<td th:each="entry : ${column}">
                                <label style="margin-right: 20px"><input type="checkbox" value="${entry.key}"/><span>${entry.value}</span></label>
                            </td>-->

						<input type="hidden" name="permissions1" id="permissions1" th:value="${admins.permissions}">
						<input type="hidden" name="permissions" id="permissions">
						<td style="background-color: white">
							<label style="margin-right: 40px" th:each="entry ,u: ${columns}">
								<input type="checkbox" name="checkbox" class="quanXian"  th:value="${u.index + 1}"/><span>[[${entry}]]</span>
							</label>
						</td>


					</tr>
				</table>
				<!--数据列表/-->
			</div>
			<!-- 数据表格 /-->
			<input type="button" value="确认修改" id="btn" class="btn-success">
			<input type="button" value="返回" id="btn2" class="btn-info">
		</div>
	</form>
</div>
</body>

<script type="text/javascript">

	$(function () {
		$("#typeId").val($("#typeId3").val())
		var permissions1 = ($("#permissions1").val()).split(",");
		var quanXians = document.getElementsByClassName("quanXian");
		for (var i = 0; i < permissions1.length; i++) {
			$(quanXians[permissions1[i] - 1]).prop("checked","checked")
		}
		var permissions = $("#permissions1").val().split(",");
		$(".quanXian").click(function () {
			var len = $(".quanXian").filter(":checked").length;
			if ($(this).prop('checked')) {
				if($(this).val() != -1){
					permissions.push($(this).val());
				}
			} else {
				permissions.splice(jQuery.inArray($(this).val(), permissions), 1);  //从数组中删除当前项，删除1个
			}
			$("#permissions").val(permissions.join());
		})
	})


	$("#btn").click(function () {
		var id =$("#id").val()
		var account = $("#account").val();
		var typeId = $("#typeId").val();
		var permissions2;
		if(typeId == 2){
			permissions2 = ",1,2,3,4,5,6,7,8,9,10,11"
		}else{
			permissions2 = $("#permissions").val();
		}

		var accountOpenId = $("#accountOpenId").val();
		var flag = true;
		if(account == null || typeId == null ||
				account == '' || typeId == '' ||
				account == undefined || typeId == undefined
		){
			alert("必填信息不能为null")
			flag = false;
		}
		if(flag == true){
			$.getJSON("/manager/adminController/updAdmin",{"id":id,"account":account,"typeId":typeId,"accountOpenId":accountOpenId,"permissions":permissions2},function (data) {
				if(data == true){
					alert("修改成功！")
					location.href="/manager/adminController/goAdminList";
				}else{
					alert("修改失败！")
				}
			})
		}
	})
	function funType() {
		var typeId = $("#typeId").val();
		if(typeId == 2){
			$('input[name="checkbox"]').each(function(){
				$(this).prop("checked",true);
			});
		}else{
			$('input[name="checkbox"]').each(function(){
				$(this).prop("checked",false);
			});
		}
	}
$("#btn2").click(function () {
	location.href="/manager/adminController/goAdminList";
})

</script>

<!--<script type="text/javascript" src="/manager/js/common/utils/checkBoxUtil.js"></script>  &lt;!&ndash;全选与全不选&ndash;&gt;-->
</html>