<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- 页面meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>新增管理员信息</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
	<link rel="stylesheet" href="/manager/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/manager/plugins/adminLTE/css/AdminLTE.css">
	<link rel="stylesheet" href="/manager/plugins/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="/manager/css/style.css">
	<script src="/manager/plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="/manager/plugins/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini">
<div style="margin:0 auto; width: 60%;">
	<!-- .box-body -->
	<form action="/manager/adminController/saveAdmin">

		<div class="box-header with-border">
			<h3 class="box-title">修改管理员信息</h3>
		</div>

		<div class="box-body">

			<!-- 数据表格 -->
			<div class="table-box">
				<table id="dataList"  class="table table-bordered table-striped table-hover dataTable">
					<tr>
						* 管理员账号：<input type="text" name="account" class="form-control" id="account" th:value="${admins.account}"/><br/>
					</tr>
					<tr>
						* 管理员类型：
						<select id="typeId" name="typeId"  class="form-control"  th:onchange="funType()" >
							<option th:each="mt :${adminTypes}" th:value="${mt.id}" th:text="${mt.typeName}" />
						</select><br/>
					</tr>
					<tr>
						微信openId：<input type="text" name="accountOpenId" class="form-control" id="accountOpenId" th:value="${admins.accountOpenId}"/><br/>
					</tr>
					<tr>
						权限：<br>
						<!--	<td th:each="entry : ${column}">
                                <label style="margin-right: 20px"><input type="checkbox" value="${entry.key}"/><span>${entry.value}</span></label>
                            </td>-->

						<input type="hidden" name="permissions" id="permissions1" th:value="${admins.permissions}">
						<input type="hidden" name="permissions" id="permissions">
						<label style="margin-left: 20px "><input name="checkbox" type="checkbox" value="1"  class="quanXian" />用户管理 </label>
						<label style="margin-left: 20px" ><input name="checkbox" type="checkbox" value="2"  class="quanXian" />订单管理 </label>
						<label style="margin-left: 20px" ><input name="checkbox" type="checkbox" value="3"  class="quanXian" />师傅管理 </label>
						<label style="margin-left: 20px" ><input name="checkbox" type="checkbox" value="4"  class="quanXian" />动态管理 </label>
						<label style="margin-left: 20px" ><input name="checkbox" type="checkbox" value="5"  class="quanXian" />技能管理 </label><br>
						<label style="margin-left: 20px" ><input name="checkbox" type="checkbox" value="6"  class="quanXian" />账目管理 </label>
						<label style="margin-left: 20px" ><input name="checkbox" type="checkbox" value="7"  class="quanXian" />菜单管理 </label>
						<label style="margin-left: 20px" ><input name="checkbox" type="checkbox" value="8"  class="quanXian" />管理员信息 </label>
						<label style="margin-left: 20px" ><input name="checkbox" type="checkbox" value="9"  class="quanXian" />其他管理 </label>
						<!--<label style="margin-left: 20px" ><input name="checkall" type="checkbox" value="-1" class="quanXian"  />全选 </label><br>-->

					</tr>
				</table>
				<!--数据列表/-->
			</div>
			<!-- 数据表格 /-->
			<input type="button" value="提交" id="btn" class="btn-info">
		</div>
	</form>
</div>
</body>

<script type="text/javascript">

	$(function () {
		var permissions1 = ("#permissions1").split(",");
		for (var i = 0; i < permissions1.length; i++) {
			$(".checkbox".val(permissions1[i])).prop("checked", "checked");
		}
	})
	/*var permissions = $("#permissions").val().split(",");
	$(".quanXian").click(function () {
		var len = $(".quanXian").filter(":checked").length;
		if ($(this).prop('checked')) {
			if($(this).val() != -1){
				permissions.push($(this).val());
			}
		} else {
			permissions.splice(jQuery.inArray($(this).val(), permissions), 1);  //从数组中删除当前项，删除1个
		}
		$("#permissions").val(permissions.join());
	})

	$("#btn").click(function () {
		var account = $("#account").val();
		var password = $("#password").val();
		/!*	var level = $("#level").val();*!/
		var typeId = $("#typeId").val();
		var permissions2;
		if(typeId == 2){
			permissions2 = ",1,2,3,4,5,6,7,8,9"
		}else{
			permissions2 = $("#permissions").val();
		}

		var accountOpenId = $("#accountOpenId").val();
		var flag = true;
		if(account == null || password == null || typeId == null ||
				account == '' || password == '' || typeId == '' ||
				account == undefined || password == undefined  || typeId == undefined
		){
			alert("必填信息不能为null")
			flag = false;
		}
		if(flag == true){
			$.getJSON("/manager/adminController/saveAdmin",{"account":account,"password":password,"typeId":typeId,"accountOpenId":accountOpenId,"permissions":permissions2},function (data) {
				if(data == true){
					alert("新增成功！")
					location.href="/manager/adminController/goAdminList";
				}else{
					alert("新增失败！")
				}
			})
		}
	})

	function funType() {

		var typeId = $("#typeId").val();
		if(typeId == 2){
			$('input[name="checkbox"]').each(function(){
				$(this).prop("checked",true);
			});
		}else{
			$('input[name="checkbox"]').each(function(){
				$(this).prop("checked",false);
			});
		}
	}
*/

</script>

<!--<script type="text/javascript" src="/manager/js/common/utils/checkBoxUtil.js"></script>  &lt;!&ndash;全选与全不选&ndash;&gt;-->
</html>