<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 页面meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>开放地区管理</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
	<link rel="stylesheet" href="/manager/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/manager/plugins/adminLTE/css/AdminLTE.css">
	<link rel="stylesheet" href="/manager/plugins/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="/manager/css/style.css">
	<script src="/manager/plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="/manager/plugins/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/manager/plugins/select2/select2.css" />
	<link rel="stylesheet" href="/manager/plugins/select2/select2-bootstrap.css" />
	<script src="/manager/plugins/select2/select2.min.js" type="text/javascript"></script>
	<script src="/manager/js/common/utils/common.js" type="text/javascript"></script>  <!--去除弹框域名-->

</head>

<body class="hold-transition skin-red sidebar-mini" >
<!-- .box-body -->

<div class="box-header with-border">
	<h3 class="box-title">开放地区管理</h3>
</div>

<div class="box-body">
	<!-- 数据表格 -->
	<div class="table-box">
		<!--工具栏-->
		<div class="pull-left">
            <div class="has-feedback">
                <table>
                    <tr>
                        <td>
                           省份
                        </td>
                        <td>
                            <select id="addFu" name="addFu" class="form-control">
                                <option th:each="category :${category1}" th:value="${category.id}"
                                        th:text="${category.addName}">
                                </option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-default"  onclick="searchOpenArea()">查询</button>
                        </td>


                        <td style="display: inline-block; margin-left: 20px">
                            <button type="button" class="btn-group btn btn-success" title="省份管理" onclick="provincesManager()" ><i class="fa fa-refresh"></i> 省份管理</button>
                        </td>
                        <td style="display: inline-block; margin-left: 20px">
                            <button type="button" class="btn-group btn btn-success" title="新增市级" data-toggle="modal" data-target="#insCity2" ><i class="fa fa-refresh"></i> 新增市级</button>
                        </td>
                        <td style="display: inline-block; margin-left: 20px">
                            <button type="button" class="btn-group btn btn-info" title="刷新" onclick="window.location.reload();"  id="release4"><i class="fa fa-refresh"></i> 刷新</button>
                        </td>
                    </tr>
                </table>
            </div>


		</div>

		<!--数据列表-->
		<table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			<thead>
			<tr>
				<th class="" style="padding-right:0px">
					<input id="selall" type="checkbox" name="checkall" class="icheckbox_square-blue">
				</th>
				<th class="sorting_asc">ID</th>
				<th class="sorting">地区名称</th>
				<th class="imageUrl">编辑</th>
			</tr>
			</thead>
			<tbody id="theBody">

			</tbody>
		</table>


	</div>
	<!-- 数据表格 /-->

</div>


<!-- 新建市 -->
<div class="modal fade" id="insCity2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top:-20%">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">新增省份</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped"  width="800px">
                    <tr>
                        <td>省份</td>
                        <td>
                            <select id="addFu2" name="addFu2" class="form-control">
                                <option th:each="category :${category1}" th:value="${category.id}"
                                        th:text="${category.addName}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>市级名称</td>
                        <td >
                            <input type="text" id="cityName" name="cityName" class="form-control">
                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="insCity2()">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 新建子类 -->
<div class="modal fade" id="insCityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top:-20%">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">新增子类</h3>
                <input type="hidden" id="cityParentId">
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped"  width="800px">
                    <tr>
                        <td>区域名称</td>
                        <td >
                            <input type="text" id="areaName" name="areaName">
                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="saveAreaName()">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- 新建同级 -->
<div class="modal fade" id="insCitySame" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top:-20%">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">新增同级(市)</h3>
                <input type="hidden" id="sameParentId">
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped"  width="800px">
                    <tr>
                        <td>市级名称</td>
                        <td >
                            <input type="text" id="sameName" name="sameName">
                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="saveSameName()">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改二级 -->
<div class="modal fade" id="updateLeavel2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top:-20%">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">修改市级</h3>
                <input type="hidden" id="leavel2Id">
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped"  width="800px">
                    <tr>
                        <td>所属上级</td>
                        <td >
                            <select id="leavel1Parent" name="leavel1Parent" class="form-control">
                                <option th:each="category :${category1}" th:value="${category.id}"
                                        th:text="${category.addName}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>市级名称</td>
                        <td >
                            <input type="text" id="leavel2Name" name="leavel2Name" class="form-control">
                        </td>
                    </tr>

                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="saveLeavel2()">修改</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改三级 -->
<div class="modal fade" id="updateLeavel3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top:-20%">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">修改区域</h3>
                <input type="hidden" id="leavel3Id">
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped"  width="800px">
                    <tr>
                        <td>所属省份</td>
                        <td >
                            <select id="leavel1Parent1" name="leavel1Parent1" class="form-control">
                                <option value="-1">请选择</option>
                                <option th:each="category :${category1}" th:value="${category.id}"
                                        th:text="${category.addName}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>所属市区</td>
                        <td >
                            <select id="leavel2Parent1" name="leavel2Parent1" class="form-control">
                               <!-- <option th:each="category :${category1}" th:value="${category.id}"
                                        th:text="${category.addName}">
                                </option>-->
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>区域名称</td>
                        <td >
                            <input type="text" id="leavel3Name" name="leavel2Name" class="form-control">
                        </td>
                    </tr>


                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="saveLeavel3()">修改</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>


</body>

<script type="text/javascript" src="/manager/js/common/utils/checkBoxUtil.js"></script>  <!--全选与全不选-->
<script type="text/javascript" src="/manager/js/common/openArea/openAreaIndex.js"></script>

</html>