<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<!-- 页面meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>用户取消关注页面</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
	<link rel="stylesheet" href="/manager/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/manager/plugins/adminLTE/css/AdminLTE.css">
	<link rel="stylesheet" href="/manager/plugins/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="/manager/css/style.css">
	<script src="/manager/plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="/manager/plugins/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/manager/plugins/select2/select2.css" />
	<link rel="stylesheet" href="/manager/plugins/select2/select2-bootstrap.css" />
	<script src="/manager/plugins/select2/select2.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/manager/js/common/utils/tranceToDate.js"></script>  <!--引入时间转换的js-->
	<script type="text/javascript" src="/manager/js/common/user/userFouce.js"></script>  <!--引入查询-->
	<script type="text/javascript" src="/manager/js/common/user/selUserByOpenId.js"></script>  <!--引入根据openId进行查询-->
	<script type="text/javascript" src="/manager/js/common/user/selUserById.js"></script>  <!--引入根据Id进行查询-->
</head>

<body class="hold-transition skin-red sidebar-mini" >
<!-- .box-body -->

<div class="box-header with-border">
	<h3 class="box-title">菜单详情页面</h3>
</div>

<div class="box-body">

	<!-- 数据表格 -->
	<div class="table-box">
		<!--工具栏-->
		<div class="pull-left">
			<div class="form-group form-inline">
				<div class="btn-group">
					<button type="button" class="btn btn-default" title="删除" onclick="delUser()"><i class="fa fa-trash-o"></i> 删除</button>

					<button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
				</div>
			</div>
		</div>
		<!--工具栏/-->

		<!--数据列表-->
		<table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			<thead>
			<tr>
				<th class="" style="padding-right:0px">
					<input id="selall" type="checkbox" class="icheckbox_square-blue">
				</th>
				<th class="sorting_asc">会员号</th>
				<th class="sorting">openId</th>
				<th class="sorting">昵称</th>
				<th class="imageUrl">头像</th>
				<th class="sorting">城市</th>
				<th class="sorting">关注时间</th>
				<th class="sorting">推广人</th>
				<th class="text-center">操作</th>
			</tr>
			</thead>
			<tbody id="theBody">

			</tbody>
		</table>
		<!--数据列表/-->
		<div class="row">
			&nbsp;&nbsp; &nbsp;&nbsp; 第<span id="pageNo"></span>页&nbsp;&nbsp; &nbsp;&nbsp;共<span id="totalPages"></span>页&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="layui-btn layui-btn-sm" href="javascript:void(0)" id="begin">首页</a>
			<a class="layui-btn layui-btn-sm" href="javascript:void(0)" id="prev">上一页</a>
			<a class="layui-btn layui-btn-sm" href="javascript:void(0)" id="next">下一页</a>
			<a class="layui-btn layui-btn-sm" href="javascript:void(0)" id="end">末页</a>
		</div>

	</div>
	<!-- 数据表格 /-->




</div>
<!-- /.box-body -->




<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">个人详情信息</h3>
			</div>
			<div class="modal-body">

				<table class="table table-bordered table-striped"  width="800px">
					<tr>
						<td>头像</td>
						<td >
							<img th:width="50px" th:height="50px"  id="imageUrl"/>
						</td>
					</tr>
					<tr>
						<td>昵称</td>
						<td id="nickName" ></td>
					</tr>
					<tr>
						<td>性别</td>
						<td id="sex">
						</td>
					</tr>
					<tr>
						<td>地址</td>
						<td id="address"></td>
					</tr>
					<tr>
						<td>会员类型</td>
						<td id="userType"></td>
					</tr>
					<tr>
						<td>手机号</td>
						<td id="phone"></td>
					</tr>

					<tr>
						<td>累计充值</td>
						<td id="totalMoney"></td>
					</tr>
					<tr>
						<td>账户余额</td>
						<td id="balanceMoney"></td>
					</tr>
					<tr>
						<td>总积分</td>
						<td id="totalScore"></td>
					</tr>
					<tr>
						<td>剩余积分</td>
						<td id="balanceScore"></td>
					</tr>
					<tr>
						<td>最后登录时间</td>
						<td id="lastLoginTime"></td>
					</tr>

				</table>

			</div>
			<div class="modal-footer">
				<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">保存</button>
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</div>
	</div>
</div>


<!-- 编辑窗口 -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">修改会员类型</h3>
			</div>
			<div class="modal-body">

				<table class="table table-bordered table-striped"  width="800px">
					<input type="hidden" id="ids"/>
					<tr>
						<td>头像</td>
						<td >
							<img th:width="50px" th:height="50px"  id="imageUrl2"/>
						</td>
					</tr>
					<tr>
						<td>openId</td>
						<td >
							<input type="text"  class="form-control" id="openId2" readonly >
						</td>
					</tr>
					<tr>
						<td>昵称</td>
						<td >
							<input type="text"  class="form-control"  id="nickName2" readonly>
						</td>
					</tr>

					<tr>
						<td>会员类型</td>
						<td >
							<select id="userType2"  class="form-control" >
								<option th:value=0 >普通会员</option>
								<option th:value=1>VIP会员</option>
							</select>
						</td>
					</tr>


				</table>

			</div>
			<div class="modal-footer">
				<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="saveUser()">保存</button>
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</div>
	</div>
</div>
</body>


</html>