<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 页面meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>派单详情页面</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
	<link rel="stylesheet" href="/manager/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/manager/plugins/adminLTE/css/AdminLTE.css">
	<link rel="stylesheet" href="/manager/plugins/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="/manager/css/style.css">
	<script src="/manager/plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="/manager/plugins/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/manager/plugins/select2/select2.css" />
	<link rel="stylesheet" href="/manager/plugins/select2/select2-bootstrap.css" />
	<script src="/manager/plugins/select2/select2.min.js" type="text/javascript"></script>
	<script src="/manager/js/common/utils/common.js" type="text/javascript"></script>  <!--去除弹框域名-->
<!--	<script type="text/javascript" src="/manager/js/common/utils/area.js"></script>  &lt;!&ndash;三级回显的js&ndash;&gt;-->
	<script type="text/javascript" src="/manager/js/common/utils/tranceToDate.js"></script>  <!--引入时间转换的js-->
	<script type="text/javascript" src="/manager/js/common/utils/category.js"></script>  <!--引入查询skillName的js-->
	<script type="text/javascript" src="/manager/js/common/user/UserSkillById.js"></script>  <!--引入查询skillName的js-->

</head>

<body class="hold-transition skin-red sidebar-mini" >
<!-- .box-body -->

<div class="box-header with-border">
	<h3 class="box-title">派单详情页面</h3>
</div>

<div class="box-body">

	<!-- 数据表格 -->
	<div class="table-box">

		<input type="hidden"  id="serviceProvince"  th:value="${userRelease.serviceProvince}">
		<input type="hidden" th:value="${userRelease.serviceCity}" id="serviceCity">
		<input type="hidden" th:value="${userRelease.serviceArea}" id="serviceArea">
		<input type="hidden" th:value="${userRelease.id}" id="userReleaseId">
		<div class="box-tools pull-left">
			<div class="has-feedback">
				<table>
					<tr>
						<td>
							技能
						</td>
						<td>
							<select id="skills" name="skills"  class="form-control">
								<option value="-1">--请选择--</option>
							</select>

						</td>
						<td>
							<select id="skills2" name="skills2"  class="form-control">
								<option value="-1">--请选择--</option>
							</select>
						</td>
						<td>
							<button class="btn btn-default"  onclick="searchPaiDanSkill()">查询</button>
						</td>

					</tr>
				</table>

			</div>
		</div>

		<!--数据列表-->
		<table id="dataList" class="table table-bordered table-striped table-hover dataTable">

			<thead>
			<tr>
				<th class="" style="padding-right:0px">
					<input id="selall" type="checkbox" class="icheckbox_square-blue">
				</th>
				<th class="sorting_asc">id</th>
				<th class="sorting">真实姓名</th>
				<th class="sorting">身份证号</th>
				<th class="imageUrl">技能</th>
				<th class="sorting">工作年限</th>
				<th class="sorting">服务区</th>
				<th class="sorting">总接单量</th>
				<th class="sorting">总拒单量</th>
				<th class="text-center">操作</th>
			</tr>
			</thead>


			<tbody id="theBody">

			</tbody>
		</table>
		<!--数据列表/-->
		<div class="row">
			&nbsp;&nbsp; &nbsp;&nbsp; 第<span id="pageNo"></span>/<span id="totalPages"></span>页&nbsp;&nbsp;&nbsp;&nbsp;共<span id="total"></span>条&nbsp;
			<a class="layui-btn layui-btn-sm" href="javascript:void(0)" id="begin">首页</a>
			<a class="layui-btn layui-btn-sm" href="javascript:void(0)" id="prev">上一页</a>
			<a class="layui-btn layui-btn-sm" href="javascript:void(0)" id="next">下一页</a>
			<a class="layui-btn layui-btn-sm" href="javascript:void(0)" id="end">末页</a>
		</div>

	</div>
	<!-- 数据表格 /-->

</div>

</body>
<!-- /.box-body -->
<script type="text/javascript" src="/manager/js/common/user/userPaiDan.js"></script>  <!--引入查询-->
<script type="text/javascript" src="/manager/js/common/utils/serAddressUtil.js"></script>
</html>