<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>修改师傅信息</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="stylesheet" href="/manager/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/manager/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="/manager/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/manager/css/style.css">
    <script src="/manager/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/manager/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/manager/js/common/utils/common.js" type="text/javascript"></script>  <!--去除弹框域名-->

</head>

<body class="hold-transition skin-red sidebar-mini">

<!-- 正文区域 -->
<section class="content">

    <div class="box-body">
        <form action="/manager/userMaster/insUserDetail" method="post" enctype="multipart/form-data" id="myForm">
            <!--表单内容-->
            <div class="row data-type">
                <input type="hidden" name="openId" th:value="${user.openId}" >
                <input type="hidden" name="id" id="id" th:value="${user.detailId}" >
                <div class="col-md-2 title">真实姓名</div>
                <div class="col-md-10 data">
                    <input type="text" name="name" id="name" class="form-control"/>
                </div>
                <div class="col-md-2 title">身份证号</div>
                <div class="col-md-10 data">
                    <input type="text" name="card" id="card" class="form-control" readonly/>
                </div>

                <div class="col-md-2 title">居住地区</div>
                <div class="col-md-10 data">
                    <table>
                        <tr>
                            <td>
                                <select name="placeProvince" id="placeProvince" class="select1 form-control" onchange="chooseProvince(this)" >
                                        <option value="-1">选择省</option>
                                </select>

                            </td>
                            <td>
                                <select  name="placeCity" id="placeCity" class="select1 form-control" onChange="chooseCity(this)" >
                                        <option value="-1">选择市</option>
                                </select>

                            </td>
                            <td>
                                <select  name="placeArea" id="placeArea" class="select1 form-control" >
                                        <option value="-1">选择区县</option>
                                </select>
                            </td>
                        </tr>
                    </table>

                </div>


                <div class="col-md-2 title" style="height:120px;">技能(只可选择3个)</div>
                <div class="col-md-10 data" style="height:120px;">
                    <table>
                        <input type="hidden" name="skills" id="skills">
                        <tr th:each="parentSkill : ${parentSkills}">
                            <td>
                                <label style="margin-right: 50px"><input type="hidden" th:attr="sid=${parentSkill.id}" class="skills"/><span>[[${parentSkill.skillName}]]</span></label>
                            </td>
                            <td th:each="skill : ${userSkills}"  th:if="${skill.parentId} == ${parentSkill.id}">
                                <label style="margin-right: 20px"><input type="checkbox" th:attr="sid=${skill.id}" class="skills"/><span>[[${skill.skillName}]]</span></label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-2 title">工作地区</div>
                <div class="col-md-10 data">
                    <table>
                        <tr>
                            <td>
                                <select name="workProvince" id="workProvince" class="select1 form-control" onchange="chooseProvince2(this)" >
                                        <option value="-1">选择省</option>
                                </select>

                            </td>
                            <td>
                                <select  name="workCity" id="workCity" class="select1 form-control" onChange="chooseCity2(this)" >
                                        <option value="-1">选择市</option>
                                </select>

                            </td>
                            <td>
                                <select  name="workArea" id="workArea" class="select1 form-control" >
                                        <option value="-1">所有区县</option>
                                </select>
                            </td>
                        </tr>
                    </table>

                </div>


                <div class="col-md-2 title">详细地址</div>
                <div class="col-md-10 data">
                    <input type="text" name="address" id="address" class="form-control"/>
                </div>
                <div class="col-md-2 title">工作年限</div>
                <div class="col-md-10 data">
                    <select name="yearWorkId" id="yearWorkId" class="priceinput form-control" style=" background:#fff;" >
                        <option value="-1">选择您的从业年限</option>
                        <option th:each="year : ${yearWorks}" th:value="${year.id}" th:text="${year.yearName}"></option>
                    </select>
                </div>
                <div class="col-md-2 title">手机号</div>
                <div class="col-md-10 data">
                    <input type="text" name="phone" th:value="${user.phone}" id="phone" class="form-control"/>
                </div>
                <div class="col-md-2 title">总接单量</div>
                <div class="col-md-10 data">
                    <input type="text" name="totalOrder"  id="totalOrder" class="form-control" />
                </div>
                <div class="col-md-2 title">总拒单量</div>
                <div class="col-md-10 data">
                    <input type="text" name="totalRefuse"  id="totalRefuse" class="form-control" />
                </div>
                <div class="col-md-2 title" style="height:50px;">积分</div>
                <div class="col-md-10 data" style="height:50px; display:inline-block;">
                    <div class="input-group">
                        <div style="display:inline-block;">
                            总积分  <input type="number"  th:value="${user.totalScore}" placeholder="总积分"  readonly>
                           &nbsp; 奖惩积分 <input type="number" placeholder="积分" name="score" id="totalScore" value="0" >
                            &nbsp;    积分来源
                            <select  id="sources" name="scoreSourceId" class="priceinput" style=" background:#fff;">
                                  <option th:each="source : ${sources}" th:value="${source.id}" th:text="${source.sourceName}"></option>
                            </select>
                            <input type="hidden" name="source" id="source" value="2"/>
                            &nbsp; <input type="radio" name="checkbox1" value="发送模板"  onclick="changeSou(1)" />发送模板
                            <input type="radio" name="checkbox1" value="不发送模板" onclick="changeSou(2)" checked="checked" />不发送模板
                        </div>
                    </div>
                </div>
                <div class="col-md-2 title"  style="height:120px;">审核</div>
                <div class="col-md-10 data"  style="height:120px;">
                    <div class="input-group">
                        状态
                        <select name="status" id="status" class="priceinput" style=" background:#fff;"  th:onchange="func()" >
                            <option value="-1">待审核</option>
                            <option value="1">审核通过</option>
                            <option value="2">审核不通过</option>
                        </select>
                        备注
                        <textarea name="statusMessage" id="statusMessage" placeholder="审核不通过的原因（审核通过不填）" style="margin:0px; height: 80px;width: 463px;resize: none;"></textarea>
                    </div>

                </div>
                <div class="col-md-10 data" style="width:100%;"></div>

            </div>
            <input class="btn btn-primary" type="submit" value="保存修改" id="btns"/>
            <input class="btn btn-primary" type="button" value="返回" id="returnUpUserMaster"/>
        </form>
    </div>


</section>
<script src="/manager/js/common/utils/area.js"></script>
<script src="/manager/js/common/user/userUpd.js"></script>
</body>

</html>