<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<!-- 页面meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>菜单管理</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
		<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/plugins/adminLTE/css/AdminLTE.css">
		<link rel="stylesheet" href="/plugins/adminLTE/css/skins/_all-skins.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
		<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="/js/common/menu/menu.js"></script>  <!--引入根据二级联查-->
		<!--	<script src="/js/base.js"></script>-->



	</head>

	<body class="hold-transition skin-red sidebar-mini">
		<div style="margin:0 auto; width: 60%;">
			<!-- .box-body -->
			<form action="/menu/saveMenu">

				<div class="box-header with-border">
					<h3 class="box-title">新增菜单</h3>
				</div>

				<div class="box-body">

					<!-- 数据表格 -->
					<div class="table-box">
						<table id="dataList"  class="table table-bordered table-striped table-hover dataTable">
							<tr>
								菜单名称：<input type="text" name="menuName" class="form-control" id="menuName"/><br/>
							</tr>
							&nbsp; &nbsp;
							<input type="button" value="创建菜单" class="btn-success btn-small" id="ziClick"/><br/><br/>

							<tr id="zi">
								<td>
									父菜单	<select id="query1" name="queryCategoryLevel1"   class="form-control" >
									<option value="-1">--请选择--</option>
								</select>
								</td>
								<td>
									已有子菜单：
									<select name="queryCategoryLevel2" id="queryCategoryLevel2" class="form-control">
									</select>
								</td>
							</tr>
							<tr>
								<td>
									菜单类型
									<select id="menuType" name="menuTypeId"  class="form-control">
										<option value="-1">--请选择--</option>
										<option th:each="mt :${menuType}" th:value="${mt.id}" th:text="${mt.typeName}" />
									</select>
								</td>
							</tr>
							<tr id="oneClick">
								<td>信息 ： <input type="text" id="message" name="message" class="form-control"></td>
								<td>key ： <input type="text" id="key" name="key" class="form-control"></td>
							</tr>
							<tr id="otherClick">
								<td>路径 ： <input type="text" id="path" name="path" class="form-control"></td>
							</tr>
						</table>
						<!--数据列表/-->
					</div>
					<!-- 数据表格 /-->
					<input type="button" value="提交" id="btn" class="btn-info">
				</div>
			</form>
		</div>
	</body>

	<script type="text/javascript">


		$(function () {
			$("#zi").hide();
			$("#oneClick").hide();
			$("#otherClick").hide();
			selLevel1();

		})
		$("#fuClick").click(function () {
			$("#zi").hide();
		})

		$("#ziClick").click(function () {
			$("#zi").show();
		})

		//下拉改变事件
		var sel=document.getElementById("menuType");
		sel.onchange=function(){
			var parentId = sel.options[sel.selectedIndex].value;
			if (parentId == 1){
				$("#oneClick").show();
				$("#otherClick").hide();
				$("#path").val("")
			}else if (parentId == 2 || parentId == 3){
				$("#oneClick").hide();
				$("#otherClick").show();
				$("#key").val("")
				$("#message").val("")
			}else if(parentId == -1){
				$("#oneClick").hide();
				$("#otherClick").hide();
				$("#key").val("")
				$("#message").val("")
				$("#path").val("")
			}
		}
		//保存事件
		$("#btn").click(function () {
			var menuName =$("#menuName").val();
			var query1 =$("#query1").val();
			var menuTypeId =$("#menuType").val();
			var message = $("#message").val();
			var key  =$("#key").val();
			var path = $("#path").val();
			var keys = key ==null ? path : key;
			var query = query1 == -1 ? 0 : query1;
			$.ajaxSettings.async = false;
			var flag  = false;
			$.getJSON("/menu/showMenu",{"parentId":query},function (data) {
				if(query == 0){
					if(data.menus.length  == 3){
						alert("父类已经满了")
						return;
					}
					for (var i = 0; i < data.menus.length; i++) {
						if(data.menus[i].menuName == menuName){
							alert("已经存在相同的父类菜单名称")
							return;
						}
					}
				}else{
					if(data.menus.length  == 5){
						alert("当前子类已经满了")
						return;
					}
					for (var i = 0; i < data.menus.length; i++) {

						if(data.menus[i].menuName == menuName){
							alert("已经存在相同的子类菜单名称")
							return;
						}
					}
				}
				for (var i = 0; i < data.selKey.length; i++) {
					if(data.selKey[i] == keys){
						alert("已经存在相同的key")
						return;
					}
				}
				flag = true;
			})
			if (flag == true){
				$.getJSON("/menu/saveMenu",{"menuName":menuName,"menuTypeId":menuTypeId,"parentMenuId":query1,"message":message,"key":keys},function (data) {
					if(data == true){
						alert("创建成功")
						location.href="/showMenu/goMenuIndex";
					}else{
						alert("创建失败")
					}
				})
			}
			$.ajaxSettings.async = true;
		})
	</script>
</html>