<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<!-- 页面meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>菜单详情页面</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
	<link rel="stylesheet" href="/manager/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/manager/plugins/adminLTE/css/AdminLTE.css">
	<link rel="stylesheet" href="/manager/plugins/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="/manager/css/style.css">
	<script src="/manager/plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="/manager/plugins/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/manager/plugins/select2/select2.css" />
	<link rel="stylesheet" href="/manager/plugins/select2/select2-bootstrap.css" />
	<script src="/manager/plugins/select2/select2.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/manager/js/common/menu/menuIndex.js"></script>  <!--引入查询-->

</head>

<body class="hold-transition skin-red sidebar-mini" >
<!-- .box-body -->

<div class="box-header with-border">
	<h3 class="box-title">菜单详情页面</h3>
</div>

<div class="box-body">

	<!-- 数据表格 -->
	<div class="table-box">

		<!--工具栏-->
		<div class="pull-left">
			<div class="form-group form-inline">
				<div >
					<button type="button" class="btn-group btn btn-success" title="新建" onclick="goCreateMenu()"><i class="fa fa-file-o"></i> 新建</button>
					<button type="button" class="btn-group btn btn-danger" title="删除" onclick="delMenu()"><i class="fa fa-trash-o"></i> 删除</button>
					<button type="button" class="btn-group btn btn-info" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
				</div>
			</div>
		</div>
		<div class="box-tools pull-right">
			<div class="has-feedback">
				分类模板名称：<input  >
				<button class="btn btn-default">查询</button>
			</div>
		</div>
		<!--工具栏/-->

		<!--数据列表-->
		<table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			<thead>
			<tr>
				<th class="" style="padding-right:0px">
					<input id="selall" type="checkbox" class="icheckbox_square-blue">
				</th>
				<th class="sorting_asc">菜单ID</th>
				<th class="sorting">菜单名称</th>
				<th class="sorting">父菜单ID</th>
				<th class="sorting">菜单类型</th>
				<th class="sorting">回复信息OR路径</th>
				<th class="sorting">key</th>
				<th class="text-center">操作</th>
			</tr>
			</thead>
			<tbody id="theBody">

			</tbody>
		</table>
		<!--数据列表/-->
		<div class="row">
			&nbsp;&nbsp; &nbsp;&nbsp; 第<span id="pageNo"></span>页&nbsp;&nbsp; &nbsp;&nbsp;共<span id="totalPages"></span>页&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="layui-btn layui-btn-sm" href="javascript:void(0)" id="begin">首页</a>
			<a class="layui-btn layui-btn-sm" href="javascript:void(0)" id="prev">上一页</a>
			<a class="layui-btn layui-btn-sm" href="javascript:void(0)" id="next">下一页</a>
			<a class="layui-btn layui-btn-sm" href="javascript:void(0)" id="end">末页</a>
		</div>

	</div>
	<!-- 数据表格 /-->




</div>
<!-- /.box-body -->




<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">修改菜单</h3>
			</div>
			<div class="modal-body">
				<input type="hidden" id="ids">
				<table class="table table-bordered table-striped"  width="800px">
					<tr>
						<td>菜单名称</td>
						<td >
							<input type="text" class="form-control" id="menuName"/>
						</td>
					</tr>
					<tr>
						<td>菜单类型</td>
						<td >
						<select id="menuType" name="menuTypeId"  class="form-control">
							<option th:each="mt :${menuType}" th:value="${mt.id}" th:text="${mt.typeName}" />
						</select>
						</td>
					</tr>

					<tr id="oneMessage">
						<td>回复信息</td>
						<td >
							<input type="text" class="form-control"  id="message" />
						</td>

					</tr>
					<tr id="oneKey">
						<td>key</td>
						<td>
							<input type="text" class="form-control" id="key"  />(勿轻易修改)
						</td>
					</tr>


					<tr id="two">
						<td>路径</td>
						<td >
							<input type="text" class="form-control" id="path">
						</td>
					</tr>
				</table>

			</div>
			<div class="modal-footer">
				<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="saveAppMenu()">保存</button>
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</div>
	</div>
</div>

</body>

<script type="text/javascript" src="/manager/js/common/utils/checkBoxUtil.js"></script>  <!--全选与全不选-->
</html>