<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:映射命名空间-->
<mapper namespace="cn.hsf.hsfmanager.mapper.AppMapper">


    <select id="selApp" resultType="cn.hsf.hsfmanager.pojo.App">
        SELECT `id`,`appId`,`mchId`,`appSecret`,`token`,`key` ,`accessToken`,`expireTime`from tb_app
    </select>

    <update id="updAppToken" parameterType="cn.hsf.hsfmanager.pojo.App">
        update tb_app set `accessToken` = #{accessToken},`expireTime` = #{expireTime}
    </update>

    <update id="updApp" parameterType="cn.hsf.hsfmanager.pojo.App">
          update tb_app
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
            <if test="id != null and id!=''">
                id=#{id},
            </if>
            <if test="appId != null and appId!=''">
                appId=#{appId},
            </if>
            <if test="mchId != null and mchId!=''">
                mchId=#{mchId},
            </if>
            <if test="appSecret != null and appSecret !=''">
                appSecret=#{appSecret},
            </if>
            <if test="token != null and token !=''">
                token=#{token},
            </if>
            <if test="key != null and key !=''">
                `key`=#{key},
            </if>
        </trim>
    </update>
</mapper>