<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:映射命名空间-->
<mapper namespace="cn.hsf.hsfmanager.mapper.BackStatusMapper">

  <select id="selAllStatus" resultType="cn.hsf.hsfmanager.pojo.user.BackStatus">
      select `id`,`backStatusName` from `tb_back_status`
  </select>

    <select id="selById" resultType="cn.hsf.hsfmanager.pojo.user.BackStatus" parameterType="int">
        select `id`,`backStatusName` from `tb_back_status` where id =#{id}
   </select>


</mapper>