<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:映射命名空间-->
<mapper namespace="cn.hsf.hsfmanager.mapper.DistributionMapper">

    <insert id="insDistribution"  useGeneratedKeys="true" keyProperty="id" parameterType="cn.hsf.hsfmanager.pojo.user.Distribution" >
        INSERT INTO `tb_distribution` ( `releaseId`,`statusId`,`refusedMessage`,`createTime`,`sfId`)
        VALUES (#{releaseId},1,#{refusedMessage},now(),#{sfId})
    </insert>

    <select id="selByResId" parameterType="cn.hsf.hsfmanager.pojo.user.Distribution" resultType="cn.hsf.hsfmanager.pojo.user.Distribution">
        SELECT `id`,`releaseId`,`statusId`,`refusedMessage`,`createTime`,`updateTime`,`sfId`,`orderId` FROM `tb_distribution`
        <where>
            <if test="id != null and id != '' ">
                and id = #{id}
            </if>
            <if test="releaseId != null and  releaseId  != '' ">
                and releaseId = #{releaseId}
            </if>
            <if test="statusId != null and statusId != '' ">
                and statusId = #{statusId}
            </if>
            <if test="refusedMessage != null and refusedMessage != '' ">
                and refusedMessage = #{refusedMessage}
            </if>
            <if test="sfId != null and sfId != '' ">
                and sfId = #{sfId}
            </if>
            <if test="orderId != null and orderId != '' ">
                and orderId = #{orderId}
            </if>
        </where>
    </select>

    <update id="updDistribution" parameterType="cn.hsf.hsfmanager.pojo.user.Distribution">
        update `tb_distribution`
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
            <if test="id != null and id != '' ">
                 id = #{id},
            </if>
            <if test="releaseId != null and releaseId  != '' ">
                 releaseId = #{releaseId},
            </if>
            <if test="statusId != null and statusId != '' ">
                 statusId = #{statusId},
            </if>
            <if test="refusedMessage != null and refusedMessage != '' ">
                 refusedMessage = #{refusedMessage},
            </if>
            <if test="sfId != null and sfId != '' ">
                 sfId = #{sfId},
            </if>
            <if test="orderId != null and orderId != '' ">
                 orderId = #{orderId},
            </if>

            <if test="updDate != null and updDate ==1 ">
                updateTime = now(),
            </if>
        </trim>
    </update>


    <select id="selDistributionById" resultMap="selAssociation">
       SELECT `id`,`releaseId`,`statusId`,`refusedMessage`,`createTime`,`updateTime`,`sfId`,`orderId` FROM `tb_distribution`
       where `id` = #{id}
    </select>

    <select id="selByDistribution" resultType="cn.hsf.hsfmanager.pojo.user.Distribution" parameterType="cn.hsf.hsfmanager.pojo.user.Distribution">
        SELECT `id`,`releaseId`,`statusId`,`refusedMessage`,`createTime`,`updateTime`,`sfId`,`orderId` FROM `tb_distribution`
        <where>
            <if test="id != null and id != '' ">
                and id = #{id}
            </if>
            <if test="releaseId != null and  releaseId  != '' ">
                and releaseId = #{releaseId}
            </if>
            <if test="statusId != null and statusId != '' ">
                and statusId = #{statusId}
            </if>
            <if test="refusedMessage != null and refusedMessage != '' ">
                and refusedMessage = #{refusedMessage}
            </if>
            <if test="sfId != null and sfId != '' ">
                and sfId = #{sfId}
            </if>
            <if test="orderId != null and orderId != '' ">
                and orderId = #{orderId}
            </if>
            <if test="tag != null and tag == 1 ">
                and DATE_FORMAT(`updateTime`, '%Y-%m-%d') =  DATE_FORMAT(NOW(), '%Y-%m-%d')
            </if>
        </where>
    </select>

    <delete id="delDetailById" parameterType="int">
        delete FROM `tb_distribution` where id = #{id}
    </delete>


    <!--派单记录-->
    <resultMap id="selAssociation" type="cn.hsf.hsfmanager.pojo.user.Distribution">
        <id property="id" column="id"/>
        <result property="statusId" column="statusId"/>
        <result property="releaseId" column="releaseId"/>
        <result property="sfId" column="sfId"/>
        <association property="distributionStatus" column="statusId" select="cn.hsf.hsfmanager.mapper.DistributionStatusMapper.selByDisId"/>
        <association property="userRelease" column="releaseId" select="cn.hsf.hsfmanager.mapper.UserReleaseMapper.selUserReleaseById"/>
        <association property="userDetail" column="sfId" select="cn.hsf.hsfmanager.mapper.UserDetailMapper.selUserDetailById"/>
    </resultMap>

    <select id="selDisList" resultMap="selAssociation" >
          SELECT `id`,`releaseId`,`statusId`,`refusedMessage`,`createTime`,`updateTime`,`sfId`,`orderId` FROM `tb_distribution`
        <where>
            <if test="statusId != null and statusId &gt; 0 ">
                and statusId = #{statusId}
            </if>
            <if test="sfId != null and sfId &gt; 0  ">
                and sfId = #{sfId}
            </if>
        </where>
        order by `createTime` desc
        limit #{pageCurrentNo},#{pageSize}
    </select>

    <select id="selDisTotal" resultType="int" >
            SELECT count(*) FROM `tb_distribution`
        <where>
            <if test="statusId != null and statusId &gt; 0 ">
                and statusId = #{statusId}
            </if>
            <if test="sfId != null and sfId &gt; 0  ">
                and sfId = #{sfId}
            </if>
        </where>
    </select>

    <update id="updStatus" parameterType="cn.hsf.hsfmanager.pojo.user.Distribution">
        update `tb_distribution` set statusId = #{statusId}, `refusedMessage` =null ,`updateTime` = null,`orderId` = null
        where id = #{id}
    </update>
</mapper>