<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:映射命名空间-->
<mapper namespace="cn.hsf.hsfmanager.mapper.GraphicMapper">


    <resultMap id="selGra" type="cn.hsf.hsfmanager.pojo.platform.Graphic">
        <id property="id" column="id"/>
        <result property="graTypeId" column="graTypeId"/>
        <association property="graphicType" column="graTypeId" select="cn.hsf.hsfmanager.mapper.GraphicTypeMapper.selByGraId"/>
    </resultMap>


    <select id="selAllGraphicList" resultMap="selGra">
        SELECT `id`,`title`,`subtitle`,`content`,`imageUrl`,`viewCount`,`createDate`,`graTypeId`
        FROM `tb_graphic`
        <where>
            <if test="title !=null and title  !=''">
                and  title like concat('%',#{title},'%')
            </if>
            <if test="graTypeId !=null and graTypeId  &gt; -1">
                and  graTypeId = #{graTypeId}
            </if>
        </where>
        order by createDate desc
        limit #{pageCurrentNo},#{pageSize}
    </select>


    <select id="selAllListCount" resultType="int" >
        SELECT count(*) FROM `tb_graphic`
        <where>
            <if test="title !=null and title  !=''">
                and  title like concat('%',#{title},'%')
            </if>
            <if test="graTypeId !=null and graTypeId  &gt; -1">
                and  graTypeId = #{graTypeId}
            </if>
        </where>
    </select>

    <select id="selGraphicById" resultType="cn.hsf.hsfmanager.pojo.platform.Graphic" parameterType="int">
         SELECT `id`,`title`,`subtitle`,`content`,`imageUrl`,`viewCount`,`createDate`,`graTypeId`
        FROM `tb_graphic`
        where id = #{id}
    </select>


    <insert id="insGraphic" parameterType="cn.hsf.hsfmanager.pojo.platform.Graphic">
        insert into `tb_graphic` (`title`,`subtitle`,`content`,`imageUrl`,`viewCount`,`createDate`,`graTypeId`) values(#{title},#{subtitle},#{content},#{imageUrl},#{viewCount},now(),#{graTypeId})
    </insert>

    <update id="updGraphic"  parameterType="cn.hsf.hsfmanager.pojo.platform.Graphic">
        update `tb_graphic`
        <set>
            <if test="id != null and id !='' ">
                 `id` = #{id},
            </if>
            <if test="title != null and title !='' ">
                 `title` = #{title},
            </if>
            <if test="subtitle != null and subtitle !='' ">
                `subtitle` = #{subtitle},
            </if>
          <!--  <if test="content != null and content !='' ">
                  `content` = #{content},
            </if>-->
            <if test="imageUrl != null and imageUrl !='' ">
                 `imageUrl` = #{imageUrl},
            </if>
            <if test="viewCount != null and viewCount !='' ">
                `viewCount` = #{viewCount},
            </if>
            <if test="graTypeId != null and graTypeId !='' ">
                `graTypeId` = #{graTypeId},
            </if>
            <if test="mark != null and mark ==1 ">
                `content` = #{content},
            </if>
        </set>
        where id =#{id}
    </update>

    <delete id="delGraphic" parameterType="int">
        delete  from `tb_graphic` where id = #{id}
    </delete>

    <delete id="delGraphicById" parameterType="int">
        delete from tb_graphic where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="delFile" parameterType="int">
          update  `tb_graphic`
          set imageUrl = null
          where id = #{id}
    </update>
</mapper>