<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:映射命名空间-->
<mapper namespace="cn.hsf.hsfmanager.mapper.ImgTypeMapper">

    <select id="selById" resultType="cn.hsf.hsfmanager.pojo.platform.ImgType">
        SELECT `id`, `imgType` FROM tb_img_type WHERE id = #{id}
    </select>
</mapper>