<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:映射命名空间-->
<mapper namespace="cn.hsf.hsfmanager.mapper.ImgTypeMapper">

    <select id="selById" resultType="cn.hsf.hsfmanager.pojo.platform.ImgType">
        SELECT `id`, `imgType` FROM tb_img_type WHERE id = #{id}
    </select>

    <select id="selImgTypeAll" resultType="cn.hsf.hsfmanager.pojo.platform.ImgType">
          SELECT `id`, `imgType` FROM tb_img_type
    </select>

    <delete id="delImgTypeById" parameterType="int">
        delete  from tb_img_type where id = #{id}
    </delete>

    <update id="updImgType" parameterType="cn.hsf.hsfmanager.pojo.platform.ImgType">
        update tb_img_type set imgType = #{imgType} where id = #{id}
    </update>

    <insert id="insImgType" parameterType="cn.hsf.hsfmanager.pojo.platform.ImgType">
        insert into tb_img_type(imgType) values(#{imgType})
    </insert>
</mapper>