<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:映射命名空间-->
<mapper namespace="cn.hsf.hsfmanager.mapper.PlatformSlideshowMapper">

    <resultMap id="selImgType" type="cn.hsf.hsfmanager.pojo.platform.PlatformSlideshow">
        <id property="id" column="id"/>
        <result property="imgType" column="imgType"/>
        <association property="type" column="imgType" select="cn.hsf.hsfmanager.mapper.ImgTypeMapper.selById"/>
    </resultMap>

    <insert id="insSlideshow">
        INSERT INTO `tb_platform_slideshow`(`id`, `url`, `imgType`, `priority`,`linkUrl`,`title`,`state`,`createDate`) VALUES(DEFAULT, #{url}, #{imgType}, #{priority},#{linkUrl},#{title},#{state},now())
    </insert>
    <select id="selAll" resultMap="selImgType">
        SELECT `id`, `url`, `imgType`, `priority`,`linkUrl`,`title`,`state`,`createDate` FROM tb_platform_slideshow WHERE imgType = #{imgType}
    </select>

    <select id="selSlideShowAll" resultMap="selImgType">
          SELECT `id`, `url`, `imgType`, `priority`,`linkUrl`,`title`,`state`,`createDate` FROM tb_platform_slideshow
          <where>
              <if test="imgType !=null and imgType &gt; 0">
               and   imgType = #{imgType}
              </if>
          </where>
          order by `createDate` desc
        limit #{pageCurrentNo},#{pageSize}
    </select>


    <select id="selSlideShowTotal" resultType="int">
        SELECT count(*) FROM `tb_platform_slideshow`
        <where>
            <if test="imgType !=null and imgType &gt; 0">
                and   imgType = #{imgType}
            </if>
        </where>
    </select>

    <delete id="delSlideById">
        delete from tb_platform_slideshow where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updSlide" parameterType="cn.hsf.hsfmanager.pojo.platform.PlatformSlideshow">
        update  `tb_platform_slideshow`
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
            <if test="id != null and id!=''">
                id=#{id},
            </if>
            <if test="url != null and url!=''">
                url=#{url},
            </if>
            <if test="imgType != null and imgType!=''">
                imgType=#{imgType},
            </if>
            <if test="priority != null and priority!=''">
                priority=#{priority},
            </if>
            <if test="linkUrl != null and linkUrl!=''">
                linkUrl=#{linkUrl},
            </if>
            <if test="title != null and title!=''">
                title=#{title},
            </if>
            <if test="state != null and state!=''">
                state=#{state},
            </if>
        </trim>
    </update>
    <select id="selSlideById" resultMap="selImgType" parameterType="int">
        SELECT `id`, `url`, `imgType`, `priority`,`linkUrl`,`title`,`state`,`createDate` FROM tb_platform_slideshow WHERE id = #{id}
    </select>

    <delete id="delSlideSingleById" parameterType="int">
         delete from tb_platform_slideshow where id =#{id}
    </delete>

    <update id="delFile" parameterType="int">
          update  `tb_platform_slideshow`
          set url = null
          where id = #{id}
    </update>

    <select id="selPriority" resultType="int" parameterType="int">
        select priority from tb_platform_slideshow where imgType = #{imgType}
    </select>
</mapper>