<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:映射命名空间-->
<mapper namespace="cn.hsf.hsfmanager.mapper.SerAddressMapper">

    <select id="selByParent" resultType="cn.hsf.hsfmanager.pojo.user.SerAddress">
        SELECT `id`,`addName`,`parentId` FROM `tb_ser_address`
        <if test="parentId != null">
            where parentId = #{parentId}
        </if>
        <if test="parentId == null">
            where parentId is null
        </if>
    </select>

    <select id="getName" resultType="string" parameterType="int">
        select addName from tb_ser_address where id = #{id}
    </select>

    <select id="getNameList" resultType="string" parameterType="int">
      select addName from tb_ser_address
        <if test="array !=null and array !=''">
            where id in
            <foreach item="id" collection="array" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>

    </select>

    <insert id="insProvinceName" parameterType="string">
        insert into tb_ser_address(addName) values (#{addName})
    </insert>

    <delete id="deSerAddress" parameterType="int">
        delete from tb_ser_address where id = #{id}
    </delete>

    <delete id="deSerAddressByParentId" parameterType="int">
          delete from tb_ser_address where parentId = #{parentId}
    </delete>

    <update id="updSerAddress" parameterType="cn.hsf.hsfmanager.pojo.user.SerAddress">
        update tb_ser_address
        <set>
            <if test="parentId != null and parentId != '' ">
                parentId = #{parentId},
            </if>
            <if test="addName != null and addName != '' ">
                addName = #{addName},
            </if>
            <if test="id != null and id != '' ">
                id = #{id},
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="insSerAddress" parameterType="cn.hsf.hsfmanager.pojo.user.SerAddress">
          insert into tb_ser_address(addName,parentId) values (#{addName},#{parentId})
    </insert>

    <select id="selById" parameterType="int" resultType="cn.hsf.hsfmanager.pojo.user.SerAddress">
          SELECT `id`,`addName`,`parentId` FROM `tb_ser_address` where id = #{id}
    </select>
</mapper>