<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:映射命名空间-->
<mapper namespace="cn.hsf.hsfmanager.mapper.UserSkillMapper">


    <!--技能详细信息-->
    <select id="selByParent" parameterType="int" resultType="cn.hsf.hsfmanager.pojo.user.UserSkills">
        SELECT `id`,`skillName`,`parentId`,`describes`,`imgUrl`,`isRecommend`,`updDate` FROM `tb_user_skills`
        <if test="parentId != null">
            where parentId = #{parentId}
        </if>
        <if test="parentId == null">
            where parentId is null
        </if>
        limit #{pageCurrentNo},#{pageSize}
    </select>


    <select id="selSkillsTotal" resultType="int">
        select count(*) from  `tb_user_skills`
    </select>

    <insert id="insertUserSkills" parameterType="cn.hsf.hsfmanager.pojo.user.UserSkills">
        insert into `tb_user_skills`(`skillName`,`parentId`,`describes`,`imgUrl`,`isRecommend` ,`updDate`) values (#{skillName},#{parentId},#{describes},#{imgUrl},#{isRecommend},#{updDate})
    </insert>
    
    <select id="selUserSkills" parameterType="cn.hsf.hsfmanager.pojo.user.UserSkills" resultType="cn.hsf.hsfmanager.pojo.user.UserSkills">
        select  `id`,`skillName`,`parentId`,`describes`, `imgUrl`,`isRecommend`,`updDate`FROM `tb_user_skills`
        <where>
            <if test="id != null and id != '' ">
              and  id = #{id}
            </if>
            <if test="skillName != null and skillName != '' ">
                and  skillName = #{skillName}
            </if>
            <if test="parentId != null and parentId != '' ">
                and  parentId = #{parentId}
            </if>
            <if test="describes != null and describes != '' ">
                and  describes = #{describes}
            </if>
            <if test="imgUrl != null and imgUrl != '' ">
                and  imgUrl = #{imgUrl}
            </if>
            <if test="isRecommend != null and isRecommend != '' ">
                and  isRecommend = #{isRecommend}
            </if>
            <if test="mark != null and mark != '' ">
                and  updDate = now()
            </if>
        </where>
    </select>

    <select id="selSkillName" resultType="cn.hsf.hsfmanager.pojo.user.UserSkills">
        select  `id`,`skillName`,`parentId`,`describes`,`imgUrl`,`isRecommend`,`updDate` FROM `tb_user_skills`
        <if test="parentId != null">
            where parentId = #{parentId}
        </if>
        <if test="parentId == null">
            where parentId is null
        </if>
    </select>

    <update id="updSkills"  parameterType="cn.hsf.hsfmanager.pojo.user.UserSkills" >
        update `tb_user_skills`
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
            <if test="id != null and id!=''">
                id=#{id},
            </if>
            <if test="skillName != null and skillName!=''">
                `skillName`=#{skillName},
            </if>
            <if test="parentId != null and parentId!=''">
                parentId=#{parentId},
            </if>
            <if test="describes != null and describes!=''">
                describes=#{describes},
            </if>
            <if test="imgUrl != null and imgUrl != '' ">
                  imgUrl = #{imgUrl},
            </if>
            <if test="isRecommend != null and isRecommend != '' ">
                  isRecommend = #{isRecommend},
            </if>
            <if test="mark != null and mark ==1 ">
                  updDate = now(),
            </if>
            <if test="mark != null and mark ==2 ">
                updDate = null,
            </if>
        </trim>
    </update>

    <delete id="delSkillsById" parameterType="int">
        delete from `tb_user_skills` where id =#{id}
    </delete>
    <delete id="delSkillsByParentId" parameterType="int">
           delete from `tb_user_skills` where parentId =#{parentId}
    </delete>

    <select id="selAllSkills" resultType="cn.hsf.hsfmanager.pojo.user.UserSkills">
         select  `id`,`skillName`,`parentId`,`describes`,`imgUrl`,`isRecommend`,`updDate` FROM `tb_user_skills`
    </select>
</mapper>