<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:映射命名空间-->
<mapper namespace="cn.hsf.hsfmanager.mapper.UserReleaseMapper">

    <!--派单记录-->
    <resultMap id="selAssociation" type="cn.hsf.hsfmanager.pojo.user.UserRelease">
        <id property="id" column="id"/>
        <result property="state" column="state"/>
        <association property="distributionStatus" column="state" select="cn.hsf.hsfmanager.mapper.DistributionStatusMapper.selByDisId"/>
    </resultMap>
    <!--分页-->
    <select id="selUserReleaseAll" resultMap="selAssociation">
        SELECT `id`,`title`,`nickName`,`phone`,`serviceProvince`,`serviceCity`,`serviceArea`,`serverDetail`,`appointTime`,`demand`,`createDate`,`state`,`receiveId`,`userId`
        FROM `tb_user_release`
        <where>
            <if test="state !=null and state &gt; -1 ">
                and  state = #{state}
            </if>
            <if test="mark != null and mark == 2 ">
                and  DATE_FORMAT(`createDate`, '%Y-%m-%d') =  DATE_FORMAT(NOW(), '%Y-%m-%d')
            </if>
        </where>
        order by  createDate desc
        limit #{pageCurrentNo},#{pageSize}
    </select>

    <select id="selUserReleaseTotal" resultType="int" >
        SELECT count(*) FROM `tb_user_release`
        <where>
            <if test="state !=null and state &gt; -1 ">
                and  state = #{state}
            </if>
            <if test="mark != null and mark == 2 ">
                and  DATE_FORMAT(`createDate`, '%Y-%m-%d') =  DATE_FORMAT(NOW(), '%Y-%m-%d')
            </if>
        </where>
    </select>


    <select id="selUserReleaseById" parameterType="int" resultType="cn.hsf.hsfmanager.pojo.user.UserRelease">
        SELECT `id`,`title`,`nickName`,`phone`,`serviceProvince`,`serviceCity`,`serviceArea`,`serverDetail`,`appointTime`,`demand`,`createDate`,`state`,`receiveId`,`userId`
        FROM `tb_user_release`
        where id = #{id}
    </select>

    <update id="updateUserRelease" parameterType="cn.hsf.hsfmanager.pojo.user.UserRelease">
        update `tb_user_release`
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
            <if test="id != null and id!=''">
                id=#{id},
            </if>
            <if test="title != null and title!=''">
                `title`=#{title},
            </if>
            <if test="nickName != null and nickName!=''">
                nickName=#{nickName},
            </if>
            <if test="phone != null and phone!=''">
                phone=#{phone},
            </if>
            <if test="serviceProvince != null and serviceProvince!=''">
                serviceProvince=#{serviceProvince},
            </if>
            <if test="serviceCity != null and serviceCity!=''">
                serviceCity=#{serviceCity},
            </if>
            <if test="serviceArea != null and serviceArea!=''">
                serviceArea=#{serviceArea},
            </if>
            <if test="serverDetail != null and serverDetail!=''">
                serverDetail=#{serverDetail},
            </if>

            <if test="appointTime != null and appointTime!=''">
                appointTime=#{appointTime},
            </if>
            <if test="demand != null and demand!=''">
                demand=#{demand},
            </if>
            <if test="state != null and state!=''">
                state=#{state},
            </if>
            <if test="receiveId != null and receiveId!=''">
                receiveId=#{receiveId},
            </if>
            <if test="userId != null and userId!=''">
                userId=#{userId},
            </if>
        </trim>
    </update>


    <update id="updateUserRelease2" >
        update `tb_user_release`
        <trim prefix="set" suffixOverrides="," suffix="where id=#{userRelease.id}">
            <if test="userRelease.id != null and userRelease.id!=''">
                id=#{userRelease.id},
            </if>
            <if test="userRelease.title != null and userRelease.title!=''">
                `title`=#{userRelease.title},
            </if>
            <if test="userRelease.nickName != null and userRelease.nickName!=''">
                nickName=#{userRelease.nickName},
            </if>
            <if test="userRelease.phone != null and userRelease.phone!=''">
                phone=#{userRelease.phone},
            </if>
            <if test="userRelease.serviceProvince != null and userRelease.serviceProvince!=''">
                serviceProvince=#{userRelease.serviceProvince},
            </if>
            <if test="userRelease.serviceCity != null and userRelease.serviceCity!=''">
                serviceCity=#{userRelease.serviceCity},
            </if>
            <if test="userRelease.serviceArea != null and userRelease.serviceArea!=''">
                serviceArea=#{userRelease.serviceArea},
            </if>
            <if test="userRelease.serverDetail != null and userRelease.serverDetail!=''">
                serverDetail=#{userRelease.serverDetail},
            </if>

            <if test="date != null and date!=''">
                appointTime=#{date},
            </if>
            <if test="userRelease.demand != null and userRelease.demand!=''">
                demand=#{userRelease.demand},
            </if>
            <if test="userRelease.state != null and userRelease.state!=''">
                state=#{userRelease.state},
            </if>
            <if test="userRelease.receiveId != null and userRelease.receiveId!=''">
                receiveId=#{userRelease.receiveId},
            </if>
            <if test="userRelease.userId != null and userRelease.userId!=''">
                userId=#{userRelease.userId},
            </if>
        </trim>
    </update>


    <update id="updStatus" parameterType="cn.hsf.hsfmanager.pojo.user.UserRelease">
       update `tb_user_release` set  state=#{state}, receiveId = null  where id = #{id}
    </update>

    <delete id="delRelById" parameterType="int">
        delete  from `tb_user_release`
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>